<div class="container">
  <div class="products-list">
    <h1>Lista de Productos</h1>
    <mat-form-field appearance="outline">
      <mat-label app>Filtrar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Buscar por..."
        #input
      />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
      <!-- Position Column -->
      <ng-container matColumnDef="sku">
        <th mat-header-cell *matHeaderCellDef>SKU</th>
        <td mat-cell *matCellDef="let element">{{ generateSku() }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let element">
          {{ detailType(element).type }}
          @if(detailType(element).variations > 0 ) {
          <mat-chip matTooltip="N° de variaciones">{{
            element.variations.length
          }}</mat-chip>
          }
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="catalog_visibility">
        <th mat-header-cell *matHeaderCellDef>Visibilidad</th>
        <td mat-cell *matCellDef="let element">
          {{ element.catalog_visibility }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-flat-button
            color="primary"
            class="text-white"
            (click)="onProduct(element.id)"
          >
            Ver
          </button>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>
</div>
