<div class="container">
  <div class="product-detail-container" *ngIf="product$ | async as product">
    <h1 class="product-name">{{ product.name }}</h1>

    <div class="product-categories">
      <div>
        <p>Categorías:</p>
        <span>
          <mat-chip-listbox>
            @for (category of product.categories; track category) {
            <mat-chip color="primary" class="text-white">{{
              category.name
            }}</mat-chip>
            }
          </mat-chip-listbox>
        </span>
      </div>
    </div>

    <div class="product-attributes">
      <h3>Atributos:</h3>
      <table>
        <thead>
          <tr>
            <th>Atributo</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attr of product.attributes">
            <td>{{ attr.key }}</td>
            <td>{{ attr.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="product-variations" *ngIf="product.variations?.length">
      <h3>Variaciones:</h3>
      <div *ngFor="let variation of product.variations" class="variation">
        <p><strong>Nombre:</strong> {{ variation.name }}</p>
        <p><strong>Precio:</strong> {{ variation.price | currency }}</p>
        <p><strong>Stock:</strong> {{ variation.stock_quantity }}</p>
        <div>
          <button
            mat-flat-button
            color="primary"
            (click)="onUpdateStock(product.id, variation.id, 12)"
          >
            actualizar stock 16
          </button>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>
